.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rajdhani", sans-serif;
}

button {
  font-family: "Rajdhani", sans-serif;
}

input {
  outline: none;
}

a {
  text-decoration: none;
  color: black;
}
