.ecard {
  width: 33%;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.121);

  &__linkblock {
    margin: 0 10px;

    &__img {
      width: 100%;
    }
  }
}

.ecard:hover {
  cursor: pointer;
  transition: 0.4s;
  transform: scale(1.02);
}
